:root {
  --q-bg: theme('colors.bg');
  --q-primary: theme('colors.primary');
  --q-primary-50-solid: theme('colors.primary-50-solid');
  --q-secondary: theme('colors.secondary');
}

.text-primary-50-solid {
  color: var(--q-primary-50-solid) !important;
}
.bg-primary-50-solid {
  background-color: var(--q-primary-50-solid) !important;
}
